<h1 class="page-title">Black <span style="color:gold;">Words</span> Matter</h1>
<table>
    <tr>
      <td class="container-1"><button type="button" class="btn btn-warning"><%= link_to 'Meditations', meditations_index_path %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Affirmations', affirmations_index_path %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Motivations', motivations_index_path %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Audio Lessons', new_audio_path %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Story Time', '#' %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Video', '#' %></button></td>
    </tr>
</table>
div id="wrap">
  <div id="main" class="container clear-top">
  <table>
  <tr>
      <td><%= asset_path('topics-icon.jpg')  %></td>
      <td><%= asset_path('calendar.png')  %></td>
      <td><%= asset_path('cart-icon.jpg') %></td>
      <td><%= link_to ('') %></td>
  </tr>
 </table>
  </div>
</div>
<footer class="footer"></footer>
