<table>

    <tr class="container-md buttons">
      <td class="container-1"><button type="button" class="btn btn-warning"><%= link_to 'Meditations', meditations_index_path %></button></td>
      <td class="container-2"><button type="button" class="btn btn-warning"><%= link_to 'Affirmations', affirmations_index_path %></button></td>
      <td class="container-3"><button type="button" class="btn btn-warning"><%= link_to 'Motivations', motivations_index_path %></button></td>
      <td class="container-4"><button type="button" class="btn btn-warning"><%= link_to 'Audio Lessons', audio_index_path %></button></td>
      <td class="container-5"><button type="button" class="btn btn-warning"><%= link_to 'Story Time', story_index_path %></button></td>
      <td class="container-7"><button type="button" class="btn btn-warning"><%= link_to 'Video', video_index_path %></button></td>
    </tr>

</table>