<div class="container">
  </footer class="footer">
    <small>Copyright &copy Black Words Matter </small>
    <nav>
    <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= fa_icon "mouse-pointer" %>
        <% end %>
      
      <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= fa_icon "shopping-cart" %>
        <% end %>
      
      <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= fa_icon "calendar" %>
        <% end %>
      
      <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= fa_icon "users" %>
        <% end %>
      
      
      
    </nav>
  </footer>
</div>