<!DOCTYPE html>
<html>
  <head>
    <title>Affirmations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
  </head>

  <body>
  <h1 class="page-title">Black <span style="color:gold;">Words</span> Matter</h1>
  <%= render :partial => 'layouts/navbar' %>
  <%= render :partial => 'layouts/buttons' %>
    <%= yield %>
  </body>
</html>
